In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Dataset/Comune-di-Milano-Pubblici-esercizi(in)-2.csv',sep=';',encoding='utf-8')

In [4]:
# select only text columns
text_cols = df.select_dtypes(include="object").columns

# convert to lowercase
df[text_cols] = df[text_cols].apply(lambda col: col.str.lower())
df

,þÿTipo esercizio storico pe,Insegna,Ubicazione,Tipo via,Descrizione via,Civico,Codice via,ZD,Forma commercio,Forma commercio prev,Forma vendita,Settore storico pe,Superficie somministrazione
0,NaN,NaN,alz naviglio grande n. 12 ; isolato:057; (z.d. 6),alz,naviglio grande,12,5144,6,NaN,NaN,NaN,"ristorante, trattoria, osteria;genere merceol....",83.0
1,NaN,NaN,alz naviglio grande n. 44 (z.d. 6),alz,naviglio grande,44,5144,6,NaN,NaN,NaN,bar gastronomici e simili,26.0
2,NaN,NaN,alz naviglio grande n. 48 (z.d. 6),alz,naviglio grande,48,5144,6,NaN,NaN,NaN,bar gastronomici e simili,58.0
3,NaN,NaN,alz naviglio grande n. 8 (z.d. 6),alz,naviglio grande,8,5144,6,NaN,NaN,NaN,"bar caffÿý e simili;ristorante, trattoria, ost...",101.0
4,NaN,NaN,alz naviglio pavese n. 24 (z.d. 6),alz,naviglio pavese,24,5161,6,NaN,NaN,NaN,bar gastronomici e simili,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6899,"wine,birr.,pub enot.,caff.,the",bar cherry,vle doria andrea n. 12 ; isolato:031; accesso:...,vle,doria andrea,12,2230,2,solo somministrazione,somministrazione,misto,"wine,birr.,pub enot.,caff.,the",59.0
6900,"wine,birr.,pub enot.,caff.,the",la balusa,via garigliano n. 5 ; isolato:277; accesso: ac...,via,garigliano,5,1134,9,solo somministrazione,somministrazione,misto,"wine,birr.,pub enot.,caff.,the",40.0
6901,"wine,birr.,pub enot.,caff.,the",la champagnerie sas,via sottocorno pasquale n. 4 ; isolato:014; ac...,via,sottocorno pasquale,4,3152,4,solo somministrazione,somministrazione,misto,bar caffÿý e simili;bar gastronomici e simili,53.0
6902,"wine,birr.,pub enot.,caff.,the",old rooster,via castrovillari n. 23 ; isolato:150; accesso...,via,castrovillari,23,6299,7,solo somministrazione,somministrazione,misto,"wine,birr.,pub enot.,caff.,the",43.0
6903,"wine,birr.,pub enot.,caff.,the",starhotel,pza fontana n. 3 ;pza fontana 003; (z.d. 1),pza,fontana,3,308,1,solo somministrazione,somministrazione,misto,"wine,birr.,pub enot.,caff.,the",95.0

In [7]:
df = df.rename(columns={"þÿTipo esercizio storico pe": "Tipo esercizio storico pe"})
df = df.rename(columns={"Ubicazione": "Indirizzo"})
df = df.rename(columns={"Descrizione via": "Nome via"})
df

,Tipo esercizio storico pe,Insegna,Indirizzo,Tipo via,Nome via,Civico,Codice via,ZD,Forma commercio,Forma commercio prev,Forma vendita,Settore storico pe,Superficie somministrazione
0,NaN,NaN,alz naviglio grande n. 12 ; isolato:057; (z.d. 6),alz,naviglio grande,12,5144,6,NaN,NaN,NaN,"ristorante, trattoria, osteria;genere merceol....",83.0
1,NaN,NaN,alz naviglio grande n. 44 (z.d. 6),alz,naviglio grande,44,5144,6,NaN,NaN,NaN,bar gastronomici e simili,26.0
2,NaN,NaN,alz naviglio grande n. 48 (z.d. 6),alz,naviglio grande,48,5144,6,NaN,NaN,NaN,bar gastronomici e simili,58.0
3,NaN,NaN,alz naviglio grande n. 8 (z.d. 6),alz,naviglio grande,8,5144,6,NaN,NaN,NaN,"bar caffÿý e simili;ristorante, trattoria, ost...",101.0
4,NaN,NaN,alz naviglio pavese n. 24 (z.d. 6),alz,naviglio pavese,24,5161,6,NaN,NaN,NaN,bar gastronomici e simili,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6899,"wine,birr.,pub enot.,caff.,the",bar cherry,vle doria andrea n. 12 ; isolato:031; accesso:...,vle,doria andrea,12,2230,2,solo somministrazione,somministrazione,misto,"wine,birr.,pub enot.,caff.,the",59.0
6900,"wine,birr.,pub enot.,caff.,the",la balusa,via garigliano n. 5 ; isolato:277; accesso: ac...,via,garigliano,5,1134,9,solo somministrazione,somministrazione,misto,"wine,birr.,pub enot.,caff.,the",40.0
6901,"wine,birr.,pub enot.,caff.,the",la champagnerie sas,via sottocorno pasquale n. 4 ; isolato:014; ac...,via,sottocorno pasquale,4,3152,4,solo somministrazione,somministrazione,misto,bar caffÿý e simili;bar gastronomici e simili,53.0
6902,"wine,birr.,pub enot.,caff.,the",old rooster,via castrovillari n. 23 ; isolato:150; accesso...,via,castrovillari,23,6299,7,solo somministrazione,somministrazione,misto,"wine,birr.,pub enot.,caff.,the",43.0
6903,"wine,birr.,pub enot.,caff.,the",starhotel,pza fontana n. 3 ;pza fontana 003; (z.d. 1),pza,fontana,3,308,1,solo somministrazione,somministrazione,misto,"wine,birr.,pub enot.,caff.,the",95.0

In [8]:
chars = ["ÿ", "ý"]

pattern = "|".join(map(lambda x: "\\" + x, chars))

mask = df.select_dtypes(include="object").apply(
    lambda col: col.astype(str).str.contains(pattern, na=False)
).any(axis=1)

df_bad = df[mask]
df_bad

,Tipo esercizio storico pe,Insegna,Indirizzo,Tipo via,Nome via,Civico,Codice via,ZD,Forma commercio,Forma commercio prev,Forma vendita,Settore storico pe,Superficie somministrazione
3,NaN,NaN,alz naviglio grande n. 8 (z.d. 6),alz,naviglio grande,8,5144,6,NaN,NaN,NaN,"bar caffÿý e simili;ristorante, trattoria, ost...",101.0
6,NaN,NaN,bst di porta nuova n. 10 con ingr.su piazza xx...,bst,di porta nuova,10,1062,1,NaN,NaN,NaN,bar gastronomici e simili;tavola fredda;genere...,341.0
7,NaN,NaN,bst di porta volta n. 9 (z.d. 1),bst,di porta volta,9,1066,1,NaN,NaN,NaN,genere merceol.autorizz.sanit.;bar gastronomic...,51.0
8,NaN,NaN,bst di porta volta n. 9 (z.d. 1),bst,di porta volta,9,1066,1,NaN,NaN,NaN,"wine,birr.,pub enot.,caff.,the;bar caffÿý;gene...",26.0
9,NaN,NaN,bst di porta volta num.018/a ; (z.d. 1),bst,di porta volta,NaN,1066,1,NaN,NaN,NaN,"bar caffÿý e simili;ristorante, trattoria, ost...",115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6882,trattoria,trattoria toscana,via baldinucci filippo n. 14 ; isolato:042; ac...,via,baldinucci filippo,14,1267,9,solo somministrazione,somministrazione,misto,trattoria;pizzeria;bar caffÿý;genere merceol.a...,147.0
6886,trattoria,trattoria toscana ai lamp,via bessarione n. 32 ; isolato:120; accesso: a...,via,bessarione,32,4152,4,solo somministrazione,somministrazione,misto,genere merceol.autorizz.sanit.;bar caffÿý e si...,75.0
6889,trattoria,trattoria toscana marino,vle molise n. 61 ; isolato:066; accesso: acces...,vle,molise,61,3178,4,solo somministrazione,somministrazione,misto,genere merceol.autorizz.sanit.;bar caffÿý e si...,65.0
6896,trattoria,woodstock 3,via vigevano n. 43 ; isolato:051; accesso: acc...,via,vigevano,43,5116,6,solo somministrazione,somministrazione,al tavolo,disco-piano-americ.bar serali;trattoria;bar ca...,61.0
6901,"wine,birr.,pub enot.,caff.,the",la champagnerie sas,via sottocorno pasquale n. 4 ; isolato:014; ac...,via,sottocorno pasquale,4,3152,4,solo somministrazione,somministrazione,misto,bar caffÿý e simili;bar gastronomici e simili,53.0

In [12]:
pattern = r"\bcaff[ÿý]"

mask = df.select_dtypes(include="object").apply(
    lambda col: col.astype(str).str.contains(pattern, na=False)
).any(axis=1)

df_non_ascii = df[mask]
df_non_ascii

,Tipo esercizio storico pe,Insegna,Indirizzo,Tipo via,Nome via,Civico,Codice via,ZD,Forma commercio,Forma commercio prev,Forma vendita,Settore storico pe,Superficie somministrazione
3,NaN,NaN,alz naviglio grande n. 8 (z.d. 6),alz,naviglio grande,8,5144,6,NaN,NaN,NaN,"bar caffÿý e simili;ristorante, trattoria, ost...",101.0
6,NaN,NaN,bst di porta nuova n. 10 con ingr.su piazza xx...,bst,di porta nuova,10,1062,1,NaN,NaN,NaN,bar gastronomici e simili;tavola fredda;genere...,341.0
7,NaN,NaN,bst di porta volta n. 9 (z.d. 1),bst,di porta volta,9,1066,1,NaN,NaN,NaN,genere merceol.autorizz.sanit.;bar gastronomic...,51.0
8,NaN,NaN,bst di porta volta n. 9 (z.d. 1),bst,di porta volta,9,1066,1,NaN,NaN,NaN,"wine,birr.,pub enot.,caff.,the;bar caffÿý;gene...",26.0
9,NaN,NaN,bst di porta volta num.018/a ; (z.d. 1),bst,di porta volta,NaN,1066,1,NaN,NaN,NaN,"bar caffÿý e simili;ristorante, trattoria, ost...",115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6882,trattoria,trattoria toscana,via baldinucci filippo n. 14 ; isolato:042; ac...,via,baldinucci filippo,14,1267,9,solo somministrazione,somministrazione,misto,trattoria;pizzeria;bar caffÿý;genere merceol.a...,147.0
6886,trattoria,trattoria toscana ai lamp,via bessarione n. 32 ; isolato:120; accesso: a...,via,bessarione,32,4152,4,solo somministrazione,somministrazione,misto,genere merceol.autorizz.sanit.;bar caffÿý e si...,75.0
6889,trattoria,trattoria toscana marino,vle molise n. 61 ; isolato:066; accesso: acces...,vle,molise,61,3178,4,solo somministrazione,somministrazione,misto,genere merceol.autorizz.sanit.;bar caffÿý e si...,65.0
6896,trattoria,woodstock 3,via vigevano n. 43 ; isolato:051; accesso: acc...,via,vigevano,43,5116,6,solo somministrazione,somministrazione,al tavolo,disco-piano-americ.bar serali;trattoria;bar ca...,61.0
6901,"wine,birr.,pub enot.,caff.,the",la champagnerie sas,via sottocorno pasquale n. 4 ; isolato:014; ac...,via,sottocorno pasquale,4,3152,4,solo somministrazione,somministrazione,misto,bar caffÿý e simili;bar gastronomici e simili,53.0

In [13]:
count = 0
for c in df.select_dtypes(include="object").columns:
    count += df[c].astype(str).str.count(r"\bcaff[ÿý]").sum()

count

10770

In [18]:
text_cols = df.select_dtypes(include="object").columns
df[text_cols] = df[text_cols].apply(
    lambda col: col.str.replace(r"\bcaff[ÿý]", "caffè", regex=True)
)

In [19]:
pattern = r"\bcaff[ÿý]"

mask = df.select_dtypes(include="object").apply(
    lambda col: col.astype(str).str.contains(pattern, na=False)
).any(axis=1)

df_non_ascii = df[mask]
df_non_ascii

Empty DataFrame
Columns: [Tipo esercizio storico pe, Insegna, Indirizzo, Tipo via, Nome via, Civico, Codice via, ZD, Forma commercio, Forma commercio prev, Forma vendita, Settore storico pe, Superficie somministrazione]
Index: []

In [20]:
chars = ["ÿ", "ý"]

pattern = "|".join(map(lambda x: "\\" + x, chars))

mask = df.select_dtypes(include="object").apply(
    lambda col: col.astype(str).str.contains(pattern, na=False)
).any(axis=1)

df_bad = df[mask]
df_bad

,Tipo esercizio storico pe,Insegna,Indirizzo,Tipo via,Nome via,Civico,Codice via,ZD,Forma commercio,Forma commercio prev,Forma vendita,Settore storico pe,Superficie somministrazione
3,NaN,NaN,alz naviglio grande n. 8 (z.d. 6),alz,naviglio grande,8,5144,6,NaN,NaN,NaN,"bar caffèý e simili;ristorante, trattoria, ost...",101.0
6,NaN,NaN,bst di porta nuova n. 10 con ingr.su piazza xx...,bst,di porta nuova,10,1062,1,NaN,NaN,NaN,bar gastronomici e simili;tavola fredda;genere...,341.0
7,NaN,NaN,bst di porta volta n. 9 (z.d. 1),bst,di porta volta,9,1066,1,NaN,NaN,NaN,genere merceol.autorizz.sanit.;bar gastronomic...,51.0
8,NaN,NaN,bst di porta volta n. 9 (z.d. 1),bst,di porta volta,9,1066,1,NaN,NaN,NaN,"wine,birr.,pub enot.,caff.,the;bar caffèý;gene...",26.0
9,NaN,NaN,bst di porta volta num.018/a ; (z.d. 1),bst,di porta volta,NaN,1066,1,NaN,NaN,NaN,"bar caffèý e simili;ristorante, trattoria, ost...",115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6882,trattoria,trattoria toscana,via baldinucci filippo n. 14 ; isolato:042; ac...,via,baldinucci filippo,14,1267,9,solo somministrazione,somministrazione,misto,trattoria;pizzeria;bar caffèý;genere merceol.a...,147.0
6886,trattoria,trattoria toscana ai lamp,via bessarione n. 32 ; isolato:120; accesso: a...,via,bessarione,32,4152,4,solo somministrazione,somministrazione,misto,genere merceol.autorizz.sanit.;bar caffèý e si...,75.0
6889,trattoria,trattoria toscana marino,vle molise n. 61 ; isolato:066; accesso: acces...,vle,molise,61,3178,4,solo somministrazione,somministrazione,misto,genere merceol.autorizz.sanit.;bar caffèý e si...,65.0
6896,trattoria,woodstock 3,via vigevano n. 43 ; isolato:051; accesso: acc...,via,vigevano,43,5116,6,solo somministrazione,somministrazione,al tavolo,disco-piano-americ.bar serali;trattoria;bar ca...,61.0
6901,"wine,birr.,pub enot.,caff.,the",la champagnerie sas,via sottocorno pasquale n. 4 ; isolato:014; ac...,via,sottocorno pasquale,4,3152,4,solo somministrazione,somministrazione,misto,bar caffèý e simili;bar gastronomici e simili,53.0

In [23]:
df[text_cols] = df[text_cols].apply(
    lambda col: col.str.replace(r"\bcaffè[ý]", "caffè", regex=True)
)

In [24]:
chars = ["ÿ", "ý"]

pattern = "|".join(map(lambda x: "\\" + x, chars))

mask = df.select_dtypes(include="object").apply(
    lambda col: col.astype(str).str.contains(pattern, na=False)
).any(axis=1)

df_bad = df[mask]
df_bad

,Tipo esercizio storico pe,Insegna,Indirizzo,Tipo via,Nome via,Civico,Codice via,ZD,Forma commercio,Forma commercio prev,Forma vendita,Settore storico pe,Superficie somministrazione
60,NaN,NaN,cso matteotti giacomo n. 4 8ÿý piano; (z.d. 1),cso,matteotti giacomo,4,218,1,NaN,NaN,NaN,genere merceol.autorizz.sanit.,60.0
232,NaN,NaN,via baracchini flavio n. 9 con 2ÿý ingresso vi...,via,baracchini flavio,9,356,1,NaN,NaN,NaN,"ristorante, trattoria, osteria;ristorante",152.0
1069,NaN,NaN,via tertulliano n. 70 con 2ÿýingr.anche v.cado...,via,tertulliano,70,4094,4,NaN,NaN,NaN,bar caffè e simili;genere merceol.autorizz.san...,69.0
1299,NaN,NaN,vle sturzo don luigi n. 41 con 2ÿýingr.v.di to...,vle,sturzo don luigi,41,1704,9,NaN,NaN,NaN,bar caffè;tavola fredda;genere merceol.autoriz...,76.0
2589,bar caffè,ata hotel executive,vle sturzo don luigi n. 41 con 2ÿýingr. v.di t...,vle,sturzo don luigi,41,1704,9,solo somministrazione,somministrazione,misto,bar caffè e simili;seconda bottiglia;ristorant...,180.0
2715,bar caffè,bar caffe,pza ferrari paolo n. 1 2ÿý ingr. piazza scala ...,pza,ferrari paolo,1,112,1,solo somministrazione,somministrazione,al banco,cibi cotti preconfezionati;tavola fredda;bar c...,121.0
2856,bar caffè,bar caffe,via torino n. 56 con 2ÿýingr.in p.zza s.giorgi...,via,torino,56,543,1,solo somministrazione,somministrazione,al banco,tavola fredda;genere merceol.autorizz.sanit.;w...,62.0
3160,bar caffè,bar meeting tavola fredda,vle vittorio veneto n. 18 con 2ÿýingr. in via ...,vle,vittorio veneto,18,2107,3,somministrazione/minuto,somministrazione,misto,bar caffè;tavola calda;carte;bar gastronomici ...,82.0
3754,bar caffè,centro botanico,pza san marco n. 1 con 2ÿý ingr. su via solfer...,pza,san marco,1,1040,1,solo somministrazione,somministrazione,misto,bar caffè;cibi cotti preconfezionati;genere me...,19.0
3778,bar caffè,colorado pub,via oriani barnaba n. 83 con 2ÿý ingr. p.le ai...,via,oriani barnaba,83,7406,8,solo somministrazione,somministrazione,misto,ristorante;giochi legge 388/2000;genere merceo...,127.0
3845,bar caffè,eleven,via di tocqueville alessio n. 11 1ÿý piano; is...,via,di tocqueville alessio,11,1703,9,solo somministrazione,somministrazione,al banco,bar caffè;genere merceol.autorizz.sanit.;cibi ...,171.0
3916,bar caffè,gallery sas.,gll unione n. 4 compreso p.t. e 1ÿý p.interrat...,gll,unione,4,510,1,solo somministrazione,somministrazione,misto,genere merceol.autorizz.sanit.;bar gastronomic...,179.0
4096,bar caffè,la cueva bar,via parini giuseppe n. 15 con 2ÿýingresso c.so...,via,parini giuseppe,15,1049,1,solo somministrazione,somministrazione,misto,bar caffè;tavola fredda;bar gastronomici e sim...,60.0
4257,bar caffè,nÿý4 le coq,pza guardi francesco n. 15 ; isolato:188; acce...,pza,guardi francesco,15,3312,3,solo somministrazione,somministrazione,misto,"wine,birr.,pub enot.,caff.,the;bar caffè;bar c...",59.0
4591,bar caffè,vecchio caffe della cotic,via natta giulio n. 20 ex via trenno nÿý 120; ...,via,natta giulio,20,6860,8,somministrazione/minuto,somministrazione,misto,trattoria;genere merceol.autorizz.sanit.;bar c...,72.0
4626,bar caffè,zucca,pza del duomo n. 21 2ÿýingr. gall.vitt.emanuel...,pza,del duomo,21,1,1,solo somministrazione,somministrazione,misto,genere merceol.autorizz.sanit.;ristorante;cibi...,164.0
4947,pizzeria,NaN,via pioppette n. 4 2ÿýingr. in v.molino d. arm...,via,pioppette,4,536,1,solo somministrazione,somministrazione,al tavolo,pizzeria;genere merceol.autorizz.sanit.;ristor...,193.0
4988,pizzeria,NaN,vle testi fulvio n. 186 con 2ÿýingresso in via...,vle,testi fulvio,186,1441,9,solo somministrazione,somministrazione,al tavolo,"ristorante, trattoria, osteria;ristorante;pizz...",50.0
5038,pizzeria,il ghiottone,via fara gustavo n. 33 con ingr. da via cardan...,via,fara gustavo,33,1183,9,solo somministrazione,somministrazione,misto,"genere merceol.autorizz.sanit.;ristorante, tra...",41.0
5349,ristorante,NaN,via mantova n. 12 (5ÿý piano); accesso: access...,via,mantova,12,4217,5,solo somministrazione,somministrazione,al tavolo,genere merceol.autorizz.sanit.;ristorante;rist...,118.0
5625,ristorante,int.big hotel residence,via de cristoforis carlo num.006/8 /8 c/o 'big...,via,de cristoforis carlo,NaN,1120,9,solo somministrazione,somministrazione,self service,genere merceol.autorizz.sanit.;ristorante;rist...,160.0
5718,ristorante,mcdonald s,pza del duomo n. 17 con 2ÿýingresso in p.zza d...,pza,del duomo,17,1,1,solo somministrazione,somministrazione,al banco,"bar caffè e simili;ristorante, trattoria, oste...",878.0
5727,ristorante,milan self diapason,via baracchini flavio n. 9 con 2ÿýingresso in ...,via,baracchini flavio,9,356,1,solo somministrazione,somministrazione,misto,"ristorante;wine,birr.,pub enot.,caff.,the;rist...",320.0
5838,ristorante,ristorante bar caffe,cso magenta num.059/61 /61con2ÿýingr.inv.a.de ...,cso,di porta nuova,48,1044,1,solo somministrazione,somministrazione,self service,genere merceol.autorizz.sanit.;bar caffè;risto...,546.0
6738,trattoria,moby dick,via porpora nicola antonio n. 161 con 2ÿý ingr...,via,porpora nicola antonio,161,2229,3,solo somministrazione,somministrazione,al tavolo,pizzerie e simili;trattoria;genere merceol.aut...,188.0

In [25]:
df["Indirizzo"] = (
    df["Indirizzo"]
    .astype(str)
    .str.replace("[ÿý]", "", regex=True)
)

In [26]:
chars = ["ÿ", "ý"]

pattern = "|".join(map(lambda x: "\\" + x, chars))

mask = df.select_dtypes(include="object").apply(
    lambda col: col.astype(str).str.contains(pattern, na=False)
).any(axis=1)

df_bad = df[mask]
df_bad

,Tipo esercizio storico pe,Insegna,Indirizzo,Tipo via,Nome via,Civico,Codice via,ZD,Forma commercio,Forma commercio prev,Forma vendita,Settore storico pe,Superficie somministrazione
4257,bar caffè,nÿý4 le coq,pza guardi francesco n. 15 ; isolato:188; acce...,pza,guardi francesco,15,3312,3,solo somministrazione,somministrazione,misto,"wine,birr.,pub enot.,caff.,the;bar caffè;bar c...",59.0

In [27]:
df["Insegna"] = (
    df["Insegna"]
    .astype(str)
    .str.replace("[ÿý]", "", regex=True)
)

In [28]:
chars = ["ÿ", "ý"]

pattern = "|".join(map(lambda x: "\\" + x, chars))

mask = df.select_dtypes(include="object").apply(
    lambda col: col.astype(str).str.contains(pattern, na=False)
).any(axis=1)

df_bad = df[mask]
df_bad

Empty DataFrame
Columns: [Tipo esercizio storico pe, Insegna, Indirizzo, Tipo via, Nome via, Civico, Codice via, ZD, Forma commercio, Forma commercio prev, Forma vendita, Settore storico pe, Superficie somministrazione]
Index: []

In [31]:
pattern = r"[^\x00-\x7FàèéìòùÀÈÉÌÒÙ]"

mask = df.select_dtypes(include="object").apply(
    lambda col: col.astype(str).str.contains(pattern, na=False)
).any(axis=1)

df_non_ascii = df[mask]
df_non_ascii

Empty DataFrame
Columns: [Tipo esercizio storico pe, Insegna, Indirizzo, Tipo via, Nome via, Civico, Codice via, ZD, Forma commercio, Forma commercio prev, Forma vendita, Settore storico pe, Superficie somministrazione]
Index: []